{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HealthLens</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/d92aa40807.js" crossorigin="anonymous"></script>
    {% tailwind_css %}
  </head>
  <body class="">
    {% comment %} Hero {% endcomment %}
    <div class="">
      <div class="">{% block Navbar %}{% endblock Navbar %}</div>
    </div>
  </body>
</html>
